<ion-header class="back ion-no-border header" [translucent]="true">
  <ion-back-button class="back">
    <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
  </ion-back-button>
</ion-header> 

<ion-content padding class="background">
  <br><br><br>
  <div class="container">
    <ion-spinner color="primary" class="page-loader" *ngIf="loading" name="crescent"></ion-spinner>
  <form class="m-form" *ngIf="!loading">
    <br>
      <ion-input maxlength="50" [(ngModel)]="user.email" fill="solid" name="correo" type="text" placeholder="Correo electrónico" required>
        <ion-icon name="mail-outline" color="primary" slot="start"></ion-icon>
      </ion-input>
      <ion-input  maxlength="20" [(ngModel)]="user.password" fill="solid" name="pass" placeholder="Contraseña" type="{{ show ? 'text' : 'password' }}"
       required>
        <ion-icon *ngIf="show" name="eye-outline" color="primary" slot="start" (click)="showPassword()"></ion-icon>
        <ion-icon *ngIf="!show" name="eye-off-outline" color="primary" slot="start" (click)="showPassword()"></ion-icon>
      </ion-input>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
       <div class="botones">
         
        <ion-button class="login" expand="block" shape="round" (click)="login()">Iniciar sesión</ion-button>
        <span class="sinCuenta">-----¿No tienes una cuenta?-----</span>
        <ion-button class="register" expand="block" [routerLink]="['/signup']" >Registrarse</ion-button>
       </div>
      </ion-col><ion-col>    
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-content>

