
<ion-content padding class="background">
    <div class="botones">
    <div class="container">
    <div class="titulo">
        <span class="">Plataforma de monitoreo de agua</span>
    </div>
    <div class="subtitulo">
      <span class="">Controla un futuro sostenible</span>
    </div>
    </div>
        <ion-button class="login" expand="block" shape="round" [routerLink]="['/login']" >Iniciar sesión</ion-button>
        <br>

        <br>
        <ion-button class="register" expand="block" [routerLink]="['/signup']" >Registrarse</ion-button>
    </div>
</ion-content>